$color-yellow: #ffe600;
$color-dark-grey: #333333;
$color-medium-grey: #666666;
$color-grey: #999999;
$color-light-grey: #eeeeee;
$color-blue: #3483FA;
$color-white: #ffffff;

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-24: 24px;
$font-28: 28px;
$font-46: 46px;

$spacing-16: 16px;
$spacing-32: 32px;

@mixin roundedImage {
    width: 180px;
    height: 180px;
    border-radius: 4px;
}

@mixin bigImage {
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
    max-width: 680px;
}

@mixin container {
    background-color: $color-white;
    border-radius: 4px;
    margin-bottom: 64px;
}